.post {
    background-color: rgba(17, 24, 39);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.post img {
    max-width: 100%;
    height: auto;
}

.post h2 {
    color: #fff;
}

.post a {
    color: #fff;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}