.create-post-container {
    background-color: rgba(17, 24, 39);
    color: #fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.create-post-container h2 {
    color: red;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    color: #fff;
    display: block;
}

.form-group input[type="text"] {
    background-color: #fff;
    color: rgba(17, 24, 39);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}

button[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff5555;
}