.blog-page {
    background-color: rgba(17, 24, 39);
    color: #fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.blog-page h1 {
    color: red;
}

.blog-page img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.blog-page p {
    margin: 10px 0;
}

.likes-dislikes {
    margin: 10px 0;
}

.likes-dislikes span {
    color: #fff;
    margin-right: 10px;
}

.likes-dislikes button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.likes-dislikes button:hover {
    background-color: #ff5555;
}

.comments {
    margin: 20px 0;
}

.comments h3 {
    color: #fff;
    margin: 10px 0;
}

.comments ul {
    list-style: none;
    padding: 0;
}

.comments li {
    margin: 5px 0;
}

.comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: rgba(17, 24, 39);
    background-color: #fff;
    margin: 10px 0;
}

.comments button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
}

comments button:hover {
    background-color: #ff5555;
}