<nav class="navbar">

    <button (click)="togglePerspective()">
        {{ perspective === 'admin' ? 'Switch: user' : 'Switch: admin' }}
    </button>

    <ul>
        <li *ngIf="perspective === 'user'">
            <a routerLink="/"> Home </a>
            <a routerLink="/about-me"> About me </a>
        </li>

        <li *ngIf="perspective === 'admin'">
            <a routerLink="/"> Home </a>
            <a routerLink="/about-me"> About me </a>
            <a *ngIf="perspective === 'admin'" routerLink="/admin/create-post"> Create Post</a>
        </li>
    </ul>

</nav>